{{ define "main" }}
  {{/* Main content */}}
  <section id="main" class="white-section">
    <div class="container">
      <div class="row-custom">
        <div class="col-md-8 mx-auto">
          <h1 class="blue-text">{{ .Title }}</h1>
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>

  {{/* Page content */}}
  {{ $odd := true }}
  {{ range .Pages }}
    {{/* Alternate between white and grey background */}}
    {{ $sectionClass := "white-section"}}
    {{ if $odd }}
      {{ $sectionClass = "grey-section" }}
    {{ end }}
    {{ $odd = not $odd }}

    <section id="{{ replace .LinkTitle " " "-" | strings.ToLower }}" class="{{ $sectionClass }}">
      <div class="container">
        <div class="row row-custom">
          {{ if isSet .Params "left-images" }}
            {{ $images := .Param "left-images" }}
            {{ $filters := .Param "left-image-filters" }}
            {{ if ne (len $images) (len $filters)}}
              {{ errorf "Page contains differing amount of images and filters" }}
            {{ end }}

            <div class="col-md-6 mx-auto event-image-wrapper">
              {{ range ($images | len)}}
                {{ $imageSrc := index $images . }}
                {{ $imageFilter := index $filters . }}
                <figure class="filter filter-{{ $imageFilter }}">
                    <img class="event-image" src="{{ $imageSrc }}" alt=""/>
                </figure>
              {{ end }}
            </div>
          {{ end }}
          
          <div class="col-md-6 mx-auto text-align-center">
            <h2 class="orange-text">{{ .Title }}</h2>
            {{ .Content }}
          </div>

          {{ if isSet .Params "right-images" }}
            {{ $images := .Param "right-images" }}
            {{ $filters := .Param "right-image-filters" }}
            {{ if ne (len $images) (len $filters)}}
              {{ errorf "Page contains differing amount of images and filters" }}
            {{ end }}

            <div class="col-md-6 mx-auto event-image-wrapper">
              {{ range ($images | len)}}
                {{ $imageSrc := index $images . }}
                {{ $imageFilter := index $filters . }}
                <figure class="filter filter-{{ $imageFilter }}">
                  <img class="event-image" src="{{ $imageSrc }}" alt=""/>
                </figure>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}

{{ end }}
