<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="https://linkkijkl.fi/" target="_blank" data-t>{{ site.Param "organizer" }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {{/* Visible pages */}}
                {{ range site.RegularPages }}
                    <a class="nav-link js-scroll-trigger" href="#{{ replace .LinkTitle " " "-" | strings.ToLower }}">{{ .LinkTitle }}</a>
                {{ end }}

                {{/* Songs */}}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/laulut" data-t>{{ i18n "songs" }}</a>
                </li>

                {{/* Available languages */}}
                {{ range page.Translations }}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
