{{ $jquery := resources.Get "node/jquery.min.js" }}
<script src="{{ $jquery.Permalink }}"></script>
{{ $bootstrap := resources.Get "node/bootstrap.bundle.min.js" }}
<script src="{{ $bootstrap.Permalink }}"></script>
{{ $easing := resources.Get "node/jquery.easing.min.js" }}
<script src="{{ $easing.Permalink }}"></script>
{{ $popper := resources.Get "node/popper.min.js" }}
<script src="{{ $popper.Permalink }}"></script>

<!-- Custom JavaScript for this theme -->
<script src="/js/scripts.js"></script>
